body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.header {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  color: #2c3e50;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
}

.flight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.flight-table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

.flight-table th, .flight-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.flight-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}


.flex-around {
  display: flex;
  justify-content: space-around;
  background-color: #2c3e50;
  padding: 10px 0;
}

.flex-around a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.flex-around a:hover {
  background-color: #34495e;
}

.active {
  background-color: #34495e;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #2c3e50;
  color: #fff;
}

.late-departure {
  color: #fff;
  background-color: red;
}

.late-departure a {
  color: #fff;
}

.flight-container-show {
  background: url('../images/sky-image.jpg') no-repeat center center;
  background-size: cover;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flight-container-destination-show {
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
  height: 85vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding-left: 2rem;
  padding-right: 1rem;
  color: #2c3e50;
}

.flight-details-show {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.flight-details-show h2 {
  margin-bottom: 10px;
}

.flight-table-show {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  color: #2c3e50;
}

.flight-table-show td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.flight-details-h2 {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 8vh;
  padding-bottom: 8vh;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.destinations-section {
  padding-bottom: 1rem;
}

.destinations-section > td {
  padding-bottom: inherit;
}

.create-ticket-button {
  width: 100%;
}

.destination-list-dis {
  background-color: #fff;
  padding: 8px;
  margin: revert;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #2c3e50;
}